orb-did-driver:
  args: ["start"]
  env:
    - name: ORB_DRIVER_HOST_URL
      value: 0.0.0.0:8121
    - name: ORB_DRIVER_TLS_SYSTEMCERTPOOL
      value: "true"
    - name: ORB_DRIVER_VERIFY_RESOLUTION_RESULT_TYPE
      value: "all"
driver-did-btcr:
  env:
    - name: uniresolver_driver_did_btcr_bitcoinConnection
      value: btcd
    - name: uniresolver_driver_did_btcr_rpcUrlTestnet
      value: RPC_URL_TESTNET
    - name: uniresolver_driver_did_btcr_rpcCertMainnet
      value:
    - name: uniresolver_driver_did_btcr_rpcCertTestnet
      value: RPC_CERT_TESTNET
cheqd-did-driver:
  env:
    - name: MAINNET_ENDPOINT
      value: "grpc.cheqd.net:443,true,5s"
    - name: TESTNET_ENDPOINT
      value: "grpc.cheqd.network:443,true,5s"
    - name: LOG_LEVEL
      value: "warn"
    - name: RESOLVER_LISTENER
      value: "0.0.0.0:8080"
driver-did-ev:
  env:
    - name: NODE_HOST
      value: "https://polygon-mumbai.g.alchemy.com/v2/jLMUummm16stzMQjW1OB79IwuDjsJqS7"
    - name: ADDRESS_IM
      value: "0x4E4f55190185f2694D331E5c9Fd70a2B75Eb4Bd2"
    - name: BASE_BLOCKS
      value: "2700000"
