driver-did-trustbloc:
  command: ['sh', '-c', 'did-method start']
  env:
    - name: DID_METHOD_HOST_URL
      value: 0.0.0.0:8102
    - name: DID_METHOD_TLS_SYSTEMCERTPOOL
      value: 'true'
    - name: DID_METHOD_MODE
      value: resolver
uni-resolver-driver-did-echo:
  env:
    - name: uniresolver_driver_did_echo_mainnet_rpc_url
      value: http://127.0.0.1:8090/rpc
    - name: uniresolver_driver_did_echo_testnet_rpc_url
      value: http://testnet.echo-dev.io
    - name: uniresolver_driver_did_echo_devnet_rpc_url
      value: http://127.0.0.1:8090/rpc
driver-did-btcr:
  env:
    - name: uniresolver_driver_did_btcr_bitcoinConnection
      value: btcd
    - name: uniresolver_driver_did_btcr_rpcUrlTestnet
      value: RPC_URL_TESTNET
    - name: uniresolver_driver_did_btcr_rpcCertMainnet
      value:
    - name: uniresolver_driver_did_btcr_rpcCertTestnet
      value: RPC_CERT_TESTNET