<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<activeProfiles>
		<activeProfile>github</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>github</id>
			<repositories>
				<repository>
					<id>github-did-common-java</id>
					<name>GitHub decentralized-identity/did-common-java</name>
					<url>https://maven.pkg.github.com/decentralized-identity/did-common-java</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<servers>
		<!-- personal access token with permission: read:packages -->
		<server>
			<id>github-did-common-java</id>
			<username>${env.GITHUB_READ_PACKAGES_OWNER}</username>
			<password>${env.GITHUB_READ_PACKAGES_TOKEN}</password>
		</server>
	</servers>
</settings>
