<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- UNIVERSAL RESOLVER SERVLET -->

	<bean name="UniResolver" class="uniresolver.local.LocalUniResolver" factory-method="fromConfigFile">
		<constructor-arg value="./config.json" />
		<property name="extensions">
			<util:list>
				<bean class="uniresolver.local.extensions.impl.ServiceParameterExtension" />
				<bean class="uniresolver.local.extensions.impl.RedirectExtension" />
			</util:list>
		</property>
	</bean>

	<bean name="ResolveServlet" class="uniresolver.web.servlet.ResolveServlet">
		<property name="uniResolver" ref="UniResolver" />
	</bean>

	<bean name="PropertiesServlet" class="uniresolver.web.servlet.PropertiesServlet">
		<property name="uniResolver" ref="UniResolver" />
	</bean>

</beans>
