name: Maven snapshot and Docker latest image

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
      - 'docs'
    branches: [ main, 'test-driver-**' ]
  workflow_dispatch:

jobs:
  maven-snapshot:
    uses: danubetech/workflows/.github/workflows/maven-snapshot.yml@main
    with:
      MAVEN_REPO_SERVER_ID: 'danubetech-maven-snapshots'
    secrets:
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
      CI_SECRET_READER_PERIODIC_TOKEN: ${{ secrets.CI_SECRET_READER_PERIODIC_TOKEN }}
      VAULTCA: ${{ secrets.VAULTCA }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  docker-latest:
    needs: [ maven-snapshot ]
    uses: danubetech/workflows/.github/workflows/docker-latest.yml@main
    with:
      GLOBAL_IMAGE_NAME: universalresolver/uni-resolver-web
      GLOBAL_REPO_NAME: docker.io
      GLOBAL_FRAMEWORK: maven
      PATH_TO_DOCKERFILE: uni-resolver-web/docker/Dockerfile
    secrets:
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
      CI_SECRET_READER_PERIODIC_TOKEN: ${{ secrets.CI_SECRET_READER_PERIODIC_TOKEN }}
      VAULTCA: ${{ secrets.VAULTCA }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
